.App {
  text-align: center;
  
}

main {
  justify-content: center;
  padding: 20px 100px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  cursor: pointer;
}

footer {
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}